[Unit]
Description=Process Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=process_exporter
Group=process_exporter
Type=simple
ExecStart=/usr/local/bin/process-exporter --config.path /etc/process-exporter/config.yml

[Install]
WantedBy=multi-user.target